@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">.NET 💜 Azure v5</h5>
        <p class="card-text">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p class="card-text">Visit our <a asp-page="/About">About GHAS</a> page to learn about GitHub Advanced Security features.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DevSecOps</h2>
        <p>Learn about the latest in DevSecOps and GitHub Advanced Security.</p>
        <p><a class="btn btn-secondary" asp-page="/DevSecOps">Explore DevSecOps &raquo;</a></p>
    </div>
</div>
