@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">.NET 💜 Azure v4</h5>
        <p class="card-text">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
