# https://github.com/anchore/syft
# https://github.com/anchore/sbom-action

name: SCA - Anchore Syft SBOM Scan

on:
  push:
    branches: [main]

env:
  imageName: "webapp01"
  tag: ${{ github.sha }}

permissions:
  contents: read
  id-token: write # required to upload artifacts

jobs:
  anchore-syft-Scan:
    name: Anchore Syft SBOM Scan

    runs-on: ubuntu-latest

    permissions:
      contents: write # required to upload to the Dependency submission API

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Build the Docker image
        run: docker build ./src/webapp01 --file ./src/webapp01/Dockerfile --tag ${{ env.imageName }}:${{ env.tag }}

      - name: Scan the image and upload dependency results
        uses: anchore/sbom-action@aa0e114b2e19480f157109b9922bda359bd98b90
        continue-on-error: true
        with:
          image: "${{ env.imageName }}:${{ env.tag }}"
          dependency-snapshot: true